.additionally {
  .form-font();
  border: none;
}

.additionally__title {
  .titles24();
  text-transform: none;
  margin-bottom: 34px;
}

.additionally__list {
  .list-style();
  display: grid;
  row-gap: 13px;
}

.additionally__item {
  display: flex;
}
