.additionally {
  .form-font();
  border: none;
}

.additionally__title {
  .titles24();
  text-transform: none;
  margin-bottom: 34px;
}

.additionally__list {
  .list-style();
  display: grid;
  row-gap: 13px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.additionally__item {
  display: flex;
}
