.address-location {
  position: relative;
  min-width: 320px;
  width: 100%;
  background-color: @white;
  // background-image: url("/img/location.jpg");
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: contain;
  // margin: 0 auto;

  // @media (min-width: @tablet-width) {
  //   background-image: url("/img/location-tablet.jpg");
  // }

  // @media (min-width: @desktop-width) {
  //   background-image: url("/img/location-desktop.jpg");
  // }
}

.address-location__map {
  display: block;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    min-width: 768px;
    min-height: 400px;
  }

  @media (min-width: @desktop-width) {
    min-width: 1440px;
  }
}

.address-location__google {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border: none;
  width: 100%;
  min-height: 362px;

  @media (min-width: @tablet-width) {
    min-height: 400px;
  }
}

.address-location__google--nojs {
  display: none;
}
