.address {
  width: 320px;
  margin: 0 auto;
  background-color: @white;
}

.address__wrapper {
  .wrapper();
  display: flex;
  justify-content: space-between;
  padding: 26px 0;
}

.address--gray {
  background-color: @basic-grey;
}

.address__partnership {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: @special-dark-gray;
  text-align: left;
  margin: 0;
  text-transform: uppercase;
}

.address__address-location {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: @dark-grey;
  text-align: left;
  font-style: normal;
}

