.aditional-product {
  width: 320px;
  padding-top: 25px;
  padding-bottom: 19px;
}

.aditional-product__title {
  .wrapper();
  .titles24();
  font-family: Oswald;
  text-align: left;
  padding-bottom: 36px;
}

.aditional-product__wrapper {
  .wrapper();
}


