.cat-data {
  .form-font();
  border: none;
  margin: 0;
}

.cat-data__list {
  .list-style();
  display: grid;
  row-gap: 13px;
}

.cat-data__item {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 12px;
  align-items: center;
}

.cat-data__input-box {
  .input-box();
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  outline: none;
  transition: border-color 0.15s ease-in-out;

  &:hover {
    border-color: @special-grey;
  }

  &:focus {
    border-color: @dark-grey;
  }

  &:invalid:not(:focus):not(:placeholder-shown) {
    border-color: @status-error;
  }
}
