.cat-data {
  .form-font();
}

.cat-data__list {
  .list-style();
  display: grid;
  row-gap: 20px;
}

.cat-data__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cat-data__input-box {
  .input-box();
  flex-shrink: 1;
}
