.choice-program {
  .form-font();
}

.choice-program__list {
  .list-style();
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  row-gap: 13px;
}

.choice-program__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
