.comment__title {
  .titles24();
  margin-bottom: 37px;
}

.comment__textarea {
  .form-font();
  font-family: "Oswald";
  resize: none;
  .input-box();
  padding-top: 9px;
  padding-right: 13px;
  padding-left: 15px;
  padding-bottom: 0;
  box-sizing: border-box;
}
