.contact {
  border: none;
  padding: 0;
}

.contact__title {
  .titles24();
}

.contact__list {
  .list-style();
  .form-font();
  display: grid;
  row-gap: 13px;
  padding-top: 35px;
}

.contact__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
