.contact {
  border: none;
  padding: 0;
}

.contact__title {
  position: relative;
  width: 187px;
  .titles24();
}

.contact__title::after {
  .line-right(14px);
}

.contact__list {
  .list-style();
  .form-font();
  display: grid;
  row-gap: 13px;
  padding-top: 35px;

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    padding: 66px 0;
  }
}

.contact__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.contact__item--label-name {
  flex-shrink: 0;
}

.contact__item--field {
  .input-box();
  flex-shrink: 1;
  width: 100%;
}
