.description {
  display: flex;
  flex-direction: column;
}

.description__wrapper {
  .wrapper();
}

.description__title {
  .titles36();
}


.description__list {
  .list-style();
  width: 280px;
  display: grid;
  row-gap: 20px;
}

.description__item {
  width: 100%;
  display: grid;
  grid-template-columns: 60px 200px;
  column-gap: 20px;
}

.description__item:last-child {
  padding-bottom: 35px;
}

.description__icon {
  width: 60px;
  height: 60px;
  background-color: #68B738;
}

.description__text {
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #444444;
  width: 200px;
  margin: 0;
}
