.header-container {
  flex-wrap: wrap;
}

.header-container__logo-image {
  display: block;
  padding: 10px 0;
}

.header-container__logo-image--device {
  @media (min-width: @tablet-width) {
    content: url("/img/logo-tablet.png");
    width: 174px;
    height: 52px;
  }
}

.header-container__logo-text {
  display: block;
  padding: 24px 0;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.header-container__toggle {
  display: block;
  padding: 24px 0;

  @media (min-width: @tablet-width) {
    display: none;
  }
}
