.live-example {
  width: 100%;
  background-color: #EAEAEA;
}

.live-example__wrapper {
  .wrapper();
  padding-top: 25px;
}

.live-example__title {
  .titles36();
}

.live-example__calculation {
  padding-bottom: 40px;
}

