.main-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 320px;
  margin: 0 auto;
  background-color: @white;

  @media (min-width: @tablet-width) {
    min-width: 768px;
  }
}

.main-header__container {
  display: flex;
  width: 280px;
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    min-width: 180px;
    justify-content: flex-start;
  }
}

.main-header__nav {
  position: relative;
  display: flex;
  width: 320px;
  background-color: @white;
  justify-content: space-around;
  z-index: 1;
}
