.main-header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-width: 320px;
  width: 100%;
  background-color: @white;
  box-sizing: border-box;

  @media (min-width: @tablet-width) {
    min-width: 768px;
    padding: 0 30px;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    padding: 0 @padding-desktop;
    justify-content: space-between;
    background-color: transparent;
  }
}

.main-header__container {
  display: flex;
  width: calc(100% - 40px);
  justify-content: space-between;
  align-items: center;

  @media (min-width: @tablet-width) {
    width: 180px;
    justify-content: flex-start;
  }
}

.main-header::after {
  .divider(0, 0);
}
