// .product {
// }

.product__image {
  display: block;
  margin: auto;
  grid-column: 1/2;
  grid-row: 1/3;

  @media (min-width: @tablet-width) {
    grid-column: 1/-1;
    grid-row: 1/2;
  }

  @media (min-width: @desktop-width) {
  }
}

.product__card-description {
  .list-style();
  grid-column: 2/3;
  grid-row: 1/3;
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    grid-column: 1/-1;
    grid-row: 2/3;
  }

  @media (min-width: @desktop-width) {
  }
}

.product__card-description--additional {
  display: grid;
  .list-style();
  grid-column: 1/-1;
  grid-row: 1/3;
  row-gap: 13px;
}

.product__title {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  width: 80px;
  margin-bottom: 14px;
}

.product__card-description-list {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  .list-style();
}

.product__button {
  border: none;
  grid-column: 1/-1;
  grid-row: 3/4;
  padding-top: 10px;
  padding-bottom: 10px;

  @media (min-width: @tablet-width) {
    grid-column: 1/-1;
  }

  @media (min-width: @desktop-width) {
  }
}

.product__button-more {
  grid-column: 1/-1;
  grid-row: 1/2;
  // padding-top: 68px;
  border: none;
  background-color: @white;
}

.product__more {
  grid-column: 1/-1;
  grid-row: 2/3;
}

.product__more--text {
  display: block;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @special-dark-gray;
}

.product__more--text-small {
  display: block;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: @dark-grey;
}

.product__button--see-all {
  background-color: @basic-grey;
  color: @dark-grey;
}

.product__title--additional {
  grid-column: 1/-1;
  grid-row: 1/2;
  margin: 0;
  width: 100%;
}

