.product-lines {
  width: 320px;
  color: @dark-grey;
  background-color: @white;
}

.product-lines__wrapper {
  .wrapper();
}

.product-lines__list {
  .list-style();
  display: grid;
  row-gap: 20px;
}

.product-lines__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: @basic-grey;
  width: 280px;
  padding-left: 22px;
  padding-top: 24px;
  padding-bottom: 22px;
  box-sizing: border-box;
}

.product-lines__title {
  margin: 0;
  margin-left: 19px;
  line-height: 37px;
  font-weight: 400;
  text-align: left;
  font-size: 24px;
  text-transform: uppercase;
  color: @black;
}

.product-lines__advantage {
  width: 100%;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 38px;
  color: @dark-grey;
}
