.product {
  padding-bottom: 14px;
  padding-top: 11px;
}

.product__image {
  display: block;
  margin: auto;
  grid-column: 1/2;
  grid-row: 1/3;
}

.product-card-item__title {
  display: block;
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  width: 80px;
}

.product__card-description {
  .list-style();
  grid-column: 2/3;
  grid-row: 2/3;
}

.product__button {
  border: none;
  grid-column: 1/-1;
  grid-row: 3/4;
  padding-top: 10px;
  padding-bottom: 10px;
}
