.selection-task {
  display: grid;
  row-gap: 46px;

  @media (min-width: @tablet-width) {
    row-gap: 72px;
  }

  @media (min-width: @desktop-width) {
    padding: 0 110px;
  }
}

.selection-task__cat-data,
.selection-task__radio {
  border: none;
}
