.showcase {
  display: flex;
  min-width: 280px;
  background-color: @showcase;
  justify-content: center;
  align-items: center;
  grid-column: 1/-1;

  @media (min-width: @desktop-width) {
    position: absolute;
    right: 0;
  }
}

.showcase__slide-before {
  position: relative;
  width: 140px;
}

.showcase__image-before {
  width: inherit;
}

.showcase__slide-after {
  position: relative;
  width: 140px;
}
