.showcase {
  position: relative;
  min-width: 280px;
  width: 100%;
  height: 256px;
  justify-content: center;
  align-items: center;
  grid-column: -1/-2;


  @media (min-width: @tablet-width) {
    height: 613px;
    grid-column: 1/-1;
  }

  @media (min-width: @desktop-width) {
    height: 0;
    grid-row: 4/3;
    justify-content: flex-end;
  }
}

.showcase__image {
  position: absolute;
  z-index: -2;

  @media (min-width: @desktop-width) {
    bottom: 0%;
  }
}

.showcase__curtain {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: @white;
  border: 2px solid @curtain-grey;
  border-radius: 100%;
  cursor: pointer;

  &:hover {
    border-color: @basic-green;
  }

  &:hover .showcase__arrow {
    fill: @basic-green;
  }

  &:hover::before {
    background-color: @basic-green;
  }

  &:active {
    border-color: fade(@button-hover, 60%);
  }

  &:active .showcase__arrow {
    fill: fade(@button-hover, 60%);
  }

  &:active::before {
    background-color: fade(@button-hover, 60%);
  }
}

.showcase__curtain::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 256px;
  background-color: @curtain-grey;
  border-radius: 2px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;

  @media (min-width: @tablet-width) {
    height: 512px;
  }
}

.showcase__image-before {
  @media (min-width: @tablet-width) {
    content: url("/img/cat-before-tablet.png");
    width: 560px;
    height: 512px;
  }
}

.showcase__image-after {
  @media (min-width: @tablet-width) {
    content: url("/img/cat-after-tablet.png");
    width: 560px;
    height: 512px;
  }
}
