.address-location {
  min-width: 320px;
  width: 100%;
  background-color: #ffffff;
  margin: 0 auto;
}
.address-location__map {
  display: block;
  border: none;
  width: 100%;
  min-height: 362px;
}
@media (min-width: 768px) {
  .address-location__map {
    min-height: 400px;
  }
}
.address {
  position: relative;
  min-width: 320px;
  width: 100%;
  background-color: #ffffff;
  box-sizing: border-box;
}
@media (min-width: 1440px) {
  .address {
    grid-template-columns: auto auto 784px;
    row-gap: 54px;
    padding: 0;
  }
}
.address__wrapper {
  min-width: 320px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  padding: 26px 20px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .address__wrapper {
    padding: 56px 70px;
  }
}
@media (min-width: 1440px) {
  .address__wrapper {
    position: absolute;
    width: 565px;
    background-color: #ffffff;
    left: 110px;
    top: 50%;
    transform: translateY(-50%);
    padding: 56px 80px;
  }
}
.address--grey {
  background-color: #f2f2f2;
}
.address__partnership {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #111111;
  text-align: left;
  margin: 0;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .address__partnership {
    font-size: 20px;
    line-height: 26px;
    padding-right: 100px;
  }
}
.address__address-location {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #444444;
  text-align: left;
  font-style: normal;
  display: block;
}
@media (min-width: 768px) {
  .address__address-location {
    font-size: 16px;
    text-align: right;
    padding-left: 125px;
  }
}
@media (min-width: 1440px) {
  .address__address-location {
    text-align: left;
    padding-left: 0;
  }
}
.button {
  background-color: #68b738;
  color: #ffffff;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
}
.button:hover {
  background-color: #5eaa2f;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
}
.button-submit-form {
  border: none;
  padding: 7px;
}
@media (min-width: 768px) {
  .button-submit-form {
    grid-column: 1/2;
  }
}
.calculation {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 32px;
  z-index: 1;
}
@media (min-width: 768px) {
  .calculation {
    grid-template-columns: 1fr 1fr;
    row-gap: 54px;
    column-gap: 42px;
  }
}
@media (min-width: 1440px) {
  .calculation {
    grid-template-columns: 36% 1fr;
    row-gap: 0;
  }
}
.calculation__description {
  grid-column: 1/-1;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #444444;
  margin: 0;
}
@media (min-width: 768px) {
  .calculation__description {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .calculation__description {
    font-size: 16px;
    line-height: 24px;
    grid-column: 1/2;
    padding-bottom: 69px;
  }
}
.calculation__container {
  grid-column: 1/-1;
  display: grid;
  column-gap: 32px;
}
@media (min-width: 768px) {
  .calculation__container {
    grid-column: 1/2;
    column-gap: 42px;
  }
}
@media (min-width: 1440px) {
  .calculation__container {
    justify-content: flex-start;
    padding-bottom: 55px;
  }
}
.calculation__info {
  position: relative;
  display: block;
  min-width: 124px;
  width: 100%;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 14px;
  padding-bottom: 17px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  background-color: #eaeaea;
  margin: 0;
}
@media (min-width: 768px) {
  .calculation__info {
    min-width: 162px;
    font-size: 30px;
    line-height: 37px;
    background-color: #ffffff;
    align-self: baseline;
  }
}
@media (min-width: 1440px) {
  .calculation__info {
    width: 162px;
    background-color: #eaeaea;
  }
}
.calculation__info--text {
  position: absolute;
  display: block;
  background-color: inherit;
  font-family: "Arial", sans-serif;
  color: #444444;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  margin: 0;
  text-transform: lowercase;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  padding: 0 15px;
}
@media (min-width: 768px) {
  .calculation__info--text {
    font-size: 14px;
    line-height: 14px;
    width: max-content;
  }
}
.calculation__info--weight-loss {
  grid-column: 1/2;
}
.calculation__info--day {
  grid-column: 2/3;
}
.calculation__spent {
  display: flex;
  justify-content: center;
  grid-column: 1/-1;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .calculation__spent {
    grid-column: -1/-2;
    font-size: 20px;
    justify-content: end;
    flex-direction: column;
    align-items: flex-end;
    line-height: 30px;
    align-self: center;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .calculation__spent {
    grid-column: 1/2;
    justify-content: space-between;
    flex-direction: row;
    padding-right: 113px;
  }
}
.circle {
  width: 50px;
  height: 50px;
  background-color: #68b738;
  border-radius: 50%;
  position: relative;
}
@media (min-width: 768px) {
  .circle {
    grid-column: -1/-2;
    grid-row: 1/3;
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 1440px) {
  .circle {
    width: 100px;
    height: 100px;
  }
}
.circle__cat {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  vertical-align: middle;
}
.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .copyright {
    justify-content: end;
  }
}
.copyright:hover .copyright__link--logo {
  fill: #68b738;
}
.copyright:active {
  opacity: 0.3;
}
.copyright__link {
  text-decoration: none;
  color: #444444;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  padding: 22px 0;
}
@media (min-width: 768px) {
  .copyright__link {
    padding-left: 22px;
  }
}
.copyright__link--logo {
  fill: #666666;
}
.description {
  min-width: 320px;
  width: 100%;
}
@media (min-width: 768px) and (max-width: 1439px) {
  .description {
    border-bottom: 1px solid #e6e6e6;
  }
}
.description__wrapper {
  min-width: 280px;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .description__wrapper {
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .description__wrapper {
    padding: 0 110px;
  }
}
.description__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  margin: 0;
  padding-top: 20px;
}
@media (min-width: 768px) {
  .description__title {
    font-size: 60px;
    line-height: 60px;
    padding-top: 0;
  }
}
.description__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  min-width: 280px;
  display: grid;
  gap: 20px;
  padding-top: 40px;
  padding-bottom: 49px;
}
@media (min-width: 768px) {
  .description__list {
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    padding-top: 32px;
    padding-right: 79px;
    padding-bottom: 47px;
    column-gap: 153px;
    row-gap: 37px;
  }
}
@media (min-width: 1440px) {
  .description__list {
    column-gap: 94px;
    row-gap: 37px;
    padding-bottom: 69px;
    padding-right: 0;
  }
}
.description__item {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 20px;
  counter-increment: description;
}
@media (min-width: 768px) {
  .description__item {
    box-sizing: border-box;
    grid-template-columns: 1fr;
    gap: 31px;
    padding-top: 40px;
    padding-bottom: 57px;
  }
}
@media (min-width: 768px) {
  .description__item::after {
    content: counter(description);
    position: absolute;
    font-size: 280px;
    line-height: 280px;
    text-align: center;
    color: #f2f2f2;
    top: 0;
    right: 0%;
    z-index: -1;
  }
}
.description__icon {
  position: relative;
  width: 60px;
  height: 60px;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .description__icon {
    width: 80px;
    height: 80px;
  }
}
.description__icon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.description__icon--leaf::before {
  width: 30px;
  height: 32px;
  background-image: url("/img/icon_leaf.svg");
}
.description__icon--tub::before {
  width: 29px;
  height: 31px;
  background-image: url("/img/icon_tub.svg");
}
.description__icon--eat::before {
  width: 25px;
  height: 30px;
  background-image: url("/img/icon_eat.svg");
}
.description__icon--alarm::before {
  width: 32px;
  height: 33px;
  background-image: url("/img/icon_alarm.svg");
}
.description__text {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #444444;
  min-width: 200px;
  margin: 0;
}
@media (min-width: 768px) {
  .description__text {
    font-size: 16px;
    line-height: 24px;
  }
}
.header-container {
  flex-wrap: wrap;
}
.header-container__logo-image {
  display: block;
  padding: 10px 0;
}
.header-container__logo-image:hover {
  opacity: 0.8;
}
.header-container__logo-image:active {
  opacity: 0.6;
}
@media (min-width: 768px) {
  .header-container__logo-image {
    padding: 24px 0 0;
  }
}
@media (min-width: 768px) {
  .header-container__logo-image--device {
    content: url("/img/logo-tablet.png");
    width: 174px;
    height: 52px;
  }
}
@media (min-width: 1440px) {
  .header-container__logo-image--device {
    content: url("/img/logo-desktop.png");
    height: 59px;
    width: 202px;
  }
}
.header-container__logo-text {
  display: block;
  padding: 21px 0;
}
.header-container__logo-text:hover {
  opacity: 0.8;
}
.header-container__logo-text:active {
  opacity: 0.6;
}
@media (min-width: 768px) {
  .header-container__logo-text {
    display: none;
  }
}
.header-container__toggle {
  position: relative;
  display: block;
  padding: 23px 0;
  width: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
@media (min-width: 768px) {
  .header-container__toggle {
    display: none;
  }
}
.header-container__toggle--closed::after {
  content: "";
  position: absolute;
  right: 0;
  width: 24px;
  height: 2px;
  background-color: #000000;
  box-shadow: 0 8px 0 0 #000000, 0 -8px 0 0 #000000;
}
.header-container__toggle--opened::before,
.header-container__toggle--opened::after {
  content: "";
  position: absolute;
  right: 0;
  width: 24px;
  height: 2px;
  background-color: #000000;
}
.header-container__toggle--opened::before {
  transform: rotate(45deg);
  box-shadow: none;
}
.header-container__toggle--opened::after {
  transform: rotate(-45deg);
}
.header-container__toggle--nojs {
  opacity: 0;
}
.live-example {
  min-width: 320px;
  width: 100%;
  background-color: #eaeaea;
}
@media (min-width: 768px) {
  .live-example {
    background-color: #ffffff;
  }
}
.live-example__wrapper {
  min-width: 280px;
  padding: 0 20px;
}
@media (min-width: 768px) {
  .live-example__wrapper {
    padding: 0 30px;
    padding-top: 43px;
  }
}
@media (min-width: 1440px) {
  .live-example__wrapper {
    padding: 0 110px;
  }
}
.live-example__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  margin: 0;
}
@media (min-width: 768px) {
  .live-example__title {
    font-size: 60px;
    line-height: 60px;
  }
}
.live-example__calculation {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  .live-example__calculation {
    padding-top: 63px;
  }
}
@media (min-width: 1440px) {
  .live-example__calculation {
    padding-top: 146px;
    padding-bottom: 75px;
  }
}
@media (min-width: 768px) {
  .live-example__calculation::before {
    content: "";
    position: absolute;
    height: 462px;
    background-color: #eaeaea;
    bottom: -10px;
    z-index: -3;
    left: -30px;
    right: -30px;
  }
}
@media (min-width: 1440px) {
  .live-example__calculation::before {
    content: "";
    height: 462px;
    left: -110px;
    right: -110px;
    bottom: 0;
  }
}
.main-container {
  min-width: 320px;
}
.main-footer {
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  background-color: #f2f2f2;
}
.main-footer__wrapper {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .main-footer__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 30px 30px;
  }
}
@media (min-width: 1440px) {
  .main-footer__wrapper {
    padding: 30px 110px;
  }
}
.main-footer__logo-text {
  display: block;
  padding-top: 39px;
  padding-bottom: 32px;
  width: -moz-fit-content;
  width: fit-content;
}
.main-footer__logo-text:hover {
  opacity: 0.8;
}
.main-footer__logo-text:active {
  opacity: 0.6;
}
.main-footer__logo-text--image {
  display: block;
}
.main-footer__copyright {
  width: 100%;
}
.main-header {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-width: 320px;
  width: 100%;
  background-color: #ffffff;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .main-header {
    min-width: 768px;
    padding: 0 30px;
    justify-content: space-between;
  }
}
@media (min-width: 1440px) {
  .main-header {
    padding: 0 110px;
    justify-content: space-between;
    background-color: transparent;
  }
}
.main-header__container {
  display: flex;
  width: calc(100% - 40px);
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .main-header__container {
    width: 180px;
    justify-content: flex-start;
  }
}
@media (max-width: 767px) {
  .main-header::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #d9d9d9;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
.main-index {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main-nav {
  position: absolute;
  min-width: 320px;
  width: 100%;
  text-transform: uppercase;
  background-color: #ffffff;
  top: 66px;
  z-index: 1;
}
@media (min-width: 768px) {
  .main-nav {
    position: static;
    margin-top: 42px;
    min-width: 440px;
    max-width: max-content;
  }
}
@media (min-width: 1440px) {
  .main-nav {
    background-color: transparent;
  }
}
.main-nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 440px;
  }
}
@media (min-width: 1440px) {
  .main-nav__list {
    min-width: 478px;
  }
}
.main-nav__item {
  display: block;
  text-align: center;
}
.main-nav__link {
  width: 100%;
  display: block;
  text-decoration: none;
  color: #000000;
  background-color: #ffffff;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  padding: 23px 0;
  box-shadow: 0 0 0 1px #e6e6e6;
}
@media (min-width: 768px) {
  .main-nav__link {
    display: inline;
    border: none;
    padding: 25px 0 4px;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    box-shadow: none;
  }
  .main-nav__link:hover {
    color: rgba(0, 0, 0, 0.6);
  }
  .main-nav__link:active {
    color: rgba(0, 0, 0, 0.3);
  }
}
@media (min-width: 1440px) {
  .main-nav__link {
    padding: 53px 0 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    background-color: transparent;
  }
}
@media (min-width: 768px) {
  .main-nav__link--active {
    border-bottom: 2px solid #68b738;
  }
}
@media (min-width: 1440px) {
  .main-nav__link--index {
    color: #ffffff;
  }
  .main-nav__link--index:hover {
    color: rgba(255, 255, 255, 0.6);
  }
  .main-nav__link--index:active {
    color: rgba(255, 255, 255, 0.3);
  }
  .main-nav__link--index.main-nav__link--active {
    border-bottom: 2px solid #ffffff;
  }
}
.main-nav--closed {
  display: none;
}
@media (min-width: 768px) {
  .main-nav--closed {
    display: inline;
  }
}
.main-nav--nojs {
  position: static;
}
.page-body {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  min-height: 100%;
  min-width: 320px;
  margin: 0;
}
.product-lines {
  min-width: 320px;
  width: 100%;
  color: #444444;
  background-color: #ffffff;
}
.product-lines__wrapper {
  min-width: 280px;
  width: calc(100% - 40px);
  padding: 0 20px;
}
@media (min-width: 768px) {
  .product-lines__wrapper {
    min-width: 708px;
    width: calc(100% - 60px);
    padding: 0 30px;
  }
}
@media (min-width: 1440px) {
  .product-lines__wrapper {
    min-width: 1220px;
    width: calc(100% - 220px);
    padding: 75px 110px;
  }
}
.product-lines__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 20px;
}
@media (min-width: 768px) {
  .product-lines__list {
    gap: 30px;
  }
}
@media (min-width: 1440px) {
  .product-lines__list {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}
.product-lines__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #f2f2f2;
  min-width: 280px;
  padding-top: 24px;
  padding-bottom: 22px;
  padding-left: 22px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .product-lines__item {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-top: 77px;
    padding-right: 62px;
    padding-bottom: 57px;
    padding-left: 53px;
  }
}
@media (min-width: 1440px) {
  .product-lines__item {
    display: flex;
    padding: 47px 52px 59px;
  }
}
.product-lines__title {
  margin: 0;
  margin-left: 19px;
  line-height: 37px;
  font-weight: 400;
  text-align: left;
  font-size: 24px;
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 768px) {
  .product-lines__title {
    grid-column: 1/2;
    grid-row: 1/2;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .product-lines__title {
    margin-left: 62px;
  }
}
.product-lines__advantage {
  position: relative;
  width: 100%;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
  padding-top: 20px;
  padding-right: 33px;
  padding-bottom: 23px;
  margin: 0;
  margin-bottom: 19px;
}
@media (min-width: 768px) {
  .product-lines__advantage {
    font-size: 16px;
    line-height: 24px;
    grid-column: 1/2;
    padding-top: 24px;
    padding-right: 51px;
    padding-bottom: 52px;
    box-sizing: border-box;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .product-lines__advantage {
    grid-column: 1/2;
    padding-top: 39px;
    padding-right: 0;
    padding-bottom: 27px;
    box-sizing: border-box;
    margin: 0;
  }
}
@media (max-width: 767px) {
  .product-lines__advantage::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #d9d9d9;
    bottom: 0;
    left: 0;
    right: 20px;
  }
}
.product-lines__select {
  text-decoration: none;
  text-transform: uppercase;
  width: -moz-fit-content;
  width: fit-content;
}
@media (min-width: 768px) {
  .product-lines__select {
    grid-column: 1/2;
  }
}
.product-lines__select-name {
  display: block;
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: #000000;
  margin: 0;
}
.product-lines__select-name:hover::after {
  background-image: url("/img/arrow-hover.svg");
}
.product-lines__select-name:active {
  color: rgba(0, 0, 0, 0.3);
}
.product-lines__select-name:active::after {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .product-lines__select-name {
    text-align: left;
    font-size: 20px;
    line-height: 30px;
  }
}
.product-lines__select-name::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 12px;
  background-image: url("/img/arrow-normal.svg");
  left: 97px;
  top: 2px;
}
@media (min-width: 768px) {
  .product-lines__select-name::after {
    left: 132px;
    top: 8px;
  }
}
.promo {
  position: relative;
  min-width: 320px;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .promo {
    color: #000000;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .promo {
    display: flex;
    position: static;
  }
}
.promo__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 27px 20px;
  min-width: 280px;
  margin: 0 auto;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .promo__wrapper {
    align-items: flex-start;
    padding-top: 62px;
    padding-left: 117px;
    padding-bottom: 526px;
    padding-right: 87px;
    min-width: 700px;
  }
}
@media (min-width: 1440px) {
  .promo__wrapper {
    padding-top: 114px;
    padding-left: 80px;
    padding-bottom: 267px;
    width: 50%;
    margin: 0;
  }
}
.promo__title {
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  padding-bottom: 41px;
}
@media (min-width: 768px) {
  .promo__title {
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    width: 100%;
  }
}
.promo__slogan {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  margin: 0;
  padding-bottom: 49px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .promo__slogan {
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }
}
.promo::after {
  content: "";
  min-width: 320px;
  min-height: 302px;
  width: 100%;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("/img/index-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
}
@media (min-width: 768px) {
  .promo::after {
    display: none;
  }
}
@media (min-width: 1440px) {
  .promo::before {
    content: "";
    position: absolute;
    display: block;
    min-width: 720px;
    min-height: 694px;
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("/img/index-background-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    width: 50%;
    top: 0;
    right: 0;
  }
}
.promo__image {
  margin-bottom: 3px;
}
@media (min-width: 768px) {
  .promo__image {
    position: absolute;
    top: 245px;
    left: 0;
    content: url("/img/promo-image-tablet.jpg");
    width: 709px;
    height: 609px;
    z-index: 0;
  }
}
@media (min-width: 1440px) {
  .promo__image {
    position: absolute;
    content: url("/img/promo-image-desktop.png");
    height: 499px;
    width: 552px;
    left: 448px;
    top: 27px;
    z-index: 0;
  }
}
.promo__button {
  display: inline-block;
  width: 280px;
  font-size: 14px;
  line-height: 18px;
  padding-top: 11px;
  padding-bottom: 11px;
  z-index: 1;
}
@media (min-width: 768px) {
  .promo__button {
    font-size: 20px;
    line-height: 20px;
    padding: 17px 29px;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.showcase {
  position: relative;
  display: flex;
  min-width: 280px;
  width: 100%;
  height: 256px;
  justify-content: center;
  align-items: center;
  grid-column: 1/-1;
}
@media (min-width: 768px) {
  .showcase {
    height: 613px;
  }
}
@media (min-width: 1440px) {
  .showcase {
    position: absolute;
    height: 512px;
    width: 560px;
    grid-row: 4/1;
    grid-column: 2/3;
    bottom: 0;
    right: 0;
  }
}
.showcase__image {
  position: absolute;
  z-index: -2;
}
.showcase__curtain {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 2px solid #666666;
  border-radius: 100%;
  cursor: pointer;
}
.showcase__curtain:hover {
  border-color: #68b738;
}
.showcase__curtain:hover .showcase__arrow {
  fill: #68b738;
}
.showcase__curtain:hover::before {
  background-color: #68b738;
}
.showcase__curtain:active {
  border-color: rgba(94, 170, 47, 0.6);
}
.showcase__curtain:active .showcase__arrow {
  fill: rgba(94, 170, 47, 0.6);
}
.showcase__curtain:active::before {
  background-color: rgba(94, 170, 47, 0.6);
}
.showcase__curtain::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 256px;
  background-color: #666666;
  border-radius: 2px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
@media (min-width: 768px) {
  .showcase__curtain::before {
    height: 512px;
  }
}
@media (min-width: 768px) {
  .showcase__image-before {
    content: url("/img/cat-before-tablet.png");
    width: 560px;
    height: 512px;
  }
}
@media (min-width: 768px) {
  .showcase__image-after {
    content: url("/img/cat-after-tablet.png");
    width: 560px;
    height: 512px;
  }
}
.social {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}
@media (max-width: 767px) {
  .social::after,
  .social::before {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #d9d9d9;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
.social::before {
  top: 0;
}
.social__list {
  display: flex;
  flex-wrap: wrap;
  width: 132px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  align-items: center;
}
.social__link {
  display: block;
  padding: 20px 5px;
  fill: #666666;
}
.social__link:hover {
  fill: #68b738;
}
.social__link:active {
  opacity: 0.3;
}
.main-catalog {
  min-width: 320px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.product-catalog {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  background-color: #ffffff;
  padding: 26px 20px;
  padding-bottom: 0;
  width: 100%;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .product-catalog {
    padding: 58px 30px;
  }
}
@media (min-width: 1440px) {
  .product-catalog {
    padding: 75px 110px;
  }
}
.product-catalog__title {
  position: relative;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  line-height: 36px;
  margin: 0;
  padding-bottom: 41px;
}
@media (min-width: 768px) {
  .product-catalog__title {
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 84px;
  }
}
@media (max-width: 767px) {
  .product-catalog__title::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #d9d9d9;
    bottom: 0;
    left: -20px;
    right: -20px;
    background-color: #e6e6e6;
  }
}
.product-catalog__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  list-style-type: none;
  padding: 0;
  margin: 0;
  column-gap: 40px;
}
@media (min-width: 768px) {
  .product-catalog__list {
    grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
    gap: 60px;
  }
}
@media (min-width: 1440px) {
  .product-catalog__list {
    grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
    column-gap: 80px;
    row-gap: 63px;
  }
}
.product-catalog__item {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr auto;
  padding: 19px 0 25px;
}
@media (max-width: 767px) {
  .product-catalog__item::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #d9d9d9;
    bottom: 0;
    left: -20px;
    right: -20px;
    background-color: #e6e6e6;
  }
}
@media (min-width: 768px) {
  .product-catalog__item {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    column-gap: 60px;
    padding: 39px;
    padding-top: 0;
    z-index: 0;
  }
}
@media (min-width: 1440px) {
  .product-catalog__item {
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
  }
}
@media (min-width: 768px) {
  .product-catalog__item:not(:last-child)::after {
    content: "";
    width: 100%;
    height: calc(100% - 81px);
    background-color: #f2f2f2;
    position: absolute;
    z-index: -1;
    bottom: 0;
  }
}
@media (min-width: 1440px) {
  .product-catalog__item:not(:last-child)::after {
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
  }
}
.product-catalog__item--more {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 25px;
}
@media (min-width: 768px) {
  .product-catalog__item--more {
    border: 2px solid #f2f2f2;
  }
}
@media (min-width: 1440px) {
  .product-catalog__item--more {
    padding-left: 19px;
    padding-right: 19px;
  }
}
.product__image {
  display: block;
  margin: auto;
  grid-column: 1/2;
  grid-row: 1/3;
}
@media (min-width: 768px) {
  .product__image {
    grid-column: 1/-1;
    grid-row: 1/2;
  }
}
.product__card-description {
  list-style-type: none;
  padding: 0;
  margin: 0;
  grid-column: 2/3;
  grid-row: 1/3;
  margin-bottom: 23px;
}
@media (min-width: 768px) {
  .product__card-description {
    grid-column: 1/-1;
    grid-row: 2/3;
    margin: 0;
    padding: 33px 0;
  }
}
.product__title {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
  width: 80px;
  margin: 0;
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .product__title {
    width: auto;
    font-size: 20px;
    line-height: 24px;
    padding-top: 0;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
  }
}
@media (min-width: 1440px) {
  .product__title {
    line-height: 21px;
    padding-right: 2px;
    padding-left: 15px;
  }
}
.product__card-description-list {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .product__card-description-list {
    font-size: 16px;
    display: grid;
    row-gap: 7px;
  }
}
.product__card-description-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  color: #444444;
}
@media (min-width: 768px) {
  .product__card-description-item {
    padding-bottom: 9px;
  }
}
@media (min-width: 768px) {
  .product__card-description-item::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #d9d9d9;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
.product__button {
  border: none;
  grid-column: 1/-1;
  grid-row: 3/4;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  .product__button {
    grid-column: 1/-1;
  }
}
@media (min-width: 768px) {
  .product__button--additional {
    grid-row: 2/3;
  }
}
@media (min-width: 1440px) {
  .product__button--additional {
    grid-row: 1/2;
    grid-column: 3/4;
  }
}
.product__more {
  padding-top: 53px;
  padding-bottom: 21px;
}
@media (min-width: 768px) {
  .product__more {
    padding-top: 136px;
    padding-bottom: 87px;
  }
}
.product__more--text {
  display: block;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
  padding-bottom: 8px;
}
@media (min-width: 768px) {
  .product__more--text {
    font-size: 20px;
    line-height: 22px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 23px;
  }
}
@media (min-width: 1440px) {
  .product__more--text {
    padding-right: 14px;
    padding-left: 14px;
  }
}
.product__more--text-small {
  display: block;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  color: #444444;
}
@media (min-width: 768px) {
  .product__more--text-small {
    font-size: 16px;
    line-height: 18px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 1440px) {
  .product__more--text-small {
    padding-right: 0;
    padding-left: 0;
  }
}
.product__button--see-all {
  background-color: #f2f2f2;
  color: #444444;
}
.product__button--see-all:hover {
  background-color: #ebebeb;
}
.product__button--see-all:active {
  color: rgba(68, 68, 68, 0.3);
}
.product__button--see-all::after {
  content: url("/img/plus.svg");
  width: 30px;
  height: 30px;
  stroke-width: 2px;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  .product__button--see-all::after {
    width: 60px;
    height: 60px;
    top: 52px;
    stroke-width: 1px;
  }
}
.additional-product {
  min-width: 320px;
  padding: 0 20px;
  padding-top: 25px;
  padding-bottom: 19px;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}
@media (min-width: 768px) {
  .additional-product {
    padding: 0 30px;
    padding-bottom: 76px;
  }
}
@media (min-width: 1440px) {
  .additional-product {
    padding: 0 110px;
  }
}
@media (min-width: 1440px) {
  .additional-product__container {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 80px;
    padding-bottom: 86px;
  }
}
.additional-product__title {
  position: relative;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  margin-bottom: 36px;
  font-family: "Oswald", sans-serif;
  text-align: left;
  width: -moz-fit-content;
  width: fit-content;
}
@media (min-width: 768px) {
  .additional-product__title {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
    padding-left: 36px;
  }
}
@media (min-width: 1440px) {
  .additional-product__title {
    padding: 0;
  }
}
@media (min-width: 768px) {
  .additional-product__title::before {
    content: "";
    position: absolute;
    top: 50%;
    right: calc(100% + 36px);
    height: 2px;
    width: 100000%;
    background-color: #68b738;
  }
}
.additional-product__title::after {
  content: "";
  position: absolute;
  top: 0.5em;
  left: calc(100% + 22px);
  height: 2px;
  width: 100000%;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .additional-product__title::after {
    left: calc(100% + 36px);
  }
}
.additional-product__list {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  column-gap: 40px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .additional-product__list {
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    border-left: 1px solid #cdcdcd;
    border-right: 1px solid #cdcdcd;
  }
}
@media (min-width: 1440px) {
  .additional-product__list {
    grid-template-columns: 1fr;
    border: none;
  }
}
.additional-product__list::before {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #d9d9d9;
  bottom: 0;
  left: 0;
  right: 0;
  bottom: 100%;
}
@media (min-width: 768px) {
  .additional-product__list::before {
    background-color: #cdcdcd;
  }
}
.additional-product__item {
  display: grid;
  position: relative;
  padding-top: 13px;
  padding-bottom: 19px;
}
@media (min-width: 768px) {
  .additional-product__item {
    grid-template-columns: 1fr auto;
    row-gap: 25px;
    padding: 27px 37px;
  }
}
@media (min-width: 1440px) {
  .additional-product__item {
    grid-template-columns: repeat(3, 1fr);
    padding: 16px 0;
    align-items: center;
    column-gap: 80px;
  }
}
.additional-product__item::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #d9d9d9;
  bottom: 0;
  left: 0;
  right: 0;
}
@media (min-width: 768px) {
  .additional-product__item::after {
    background-color: #cdcdcd;
  }
}
.additional-product__product-title {
  font-size: 16px;
  line-height: 16px;
  margin: 0;
  padding-bottom: 13px;
}
@media (min-width: 768px) {
  .additional-product__product-title {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 0;
  }
}
.additional-product__product {
  display: flex;
  justify-content: space-between;
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  padding-bottom: 15px;
}
@media (min-width: 768px) {
  .additional-product__product {
    font-size: 16px;
    padding-bottom: 0;
    align-items: flex-end;
  }
}
@media (min-width: 768px) {
  .additional-product__product--price {
    padding-left: 49px;
  }
}
@media (min-width: 768px) {
  .additional-product__product--price {
    width: 50px;
    margin-right: -50px;
  }
}
.form-header {
  display: flex;
  flex-direction: column;
  min-width: 280px;
  width: 100%;
  background-color: #ffffff;
}
.form-header__wrapper {
  width: 100%;
  padding: 27px 20px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .form-header__wrapper {
    padding: 65px 69px;
  }
}
@media (min-width: 1440px) {
  .form-header__wrapper {
    padding: 73px 110px 0;
  }
}
.form-header__title {
  line-height: 36px;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  margin: 0;
}
@media (min-width: 768px) {
  .form-header__title {
    font-size: 60px;
    line-height: 60px;
  }
}
.form-header__instruction {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
  padding-top: 53px;
}
@media (min-width: 768px) {
  .form-header__instruction {
    font-size: 20px;
    line-height: 30px;
  }
}
.form-selection {
  min-width: 280px;
  display: grid;
  row-gap: 23px;
  overflow-x: hidden;
}
.form-selection__wrapper {
  width: 100%;
  padding: 12px 20px 32px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .form-selection__wrapper {
    padding: 0 30px;
    padding-bottom: 72px;
  }
}
@media (min-width: 1440px) {
  .form-selection__wrapper {
    padding: 0 110px;
  }
}
.form-selection__selection-task {
  width: 100%;
  padding-bottom: 22px;
  box-sizing: border-box;
  display: grid;
  row-gap: 46px;
}
@media (min-width: 768px) {
  .form-selection__selection-task {
    padding-bottom: 6px;
    padding-left: 40px;
    padding-right: 37px;
    row-gap: 72px;
  }
}
@media (min-width: 1440px) {
  .form-selection__selection-task {
    padding: 66px 0;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
  }
}
.form-selection__contact {
  box-sizing: border-box;
  background-color: #ffffff;
  width: 100%;
}
@media (min-width: 768px) {
  .form-selection__contact {
    padding-top: 35px;
    padding-left: 40px;
    padding-right: 37px;
  }
}
@media (min-width: 1440px) {
  .form-selection__contact {
    padding: 0;
  }
}
.form-selection__comment {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .form-selection__comment {
    padding-left: 40px;
    padding-right: 37px;
  }
}
@media (min-width: 1440px) {
  .form-selection__comment {
    padding: 0;
    padding-bottom: 67px;
  }
}
.form-selection__additionally {
  display: grid;
}
@media (min-width: 768px) {
  .form-selection__additionally {
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    padding-left: 40px;
    padding-right: 37px;
  }
}
@media (min-width: 1440px) {
  .form-selection__additionally {
    padding-bottom: 82px;
    padding-left: 0;
    padding-right: 0;
  }
}
.form-selection__additionally--notation {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}
@media (min-width: 768px) {
  .form-selection__additionally--notation {
    grid-column: 2/3;
    text-align: start;
  }
}
html {
  height: 100%;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/oswaldregular.woff2") format("woff2"), url("/fonts/oswaldregular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/oswaldmedium.woff2") format("woff2"), url("/fonts/oswaldmedium.woff") format("woff");
  font-display: swap;
}
.gift {
  min-width: 280px;
  box-sizing: border-box;
  padding-top: 35px;
  padding-bottom: 35px;
}
@media (min-width: 768px) {
  .gift {
    padding-top: 69px;
    padding-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .gift {
    min-width: 245px;
    padding: 0;
  }
}
.gift__container {
  position: relative;
  min-width: 280px;
  width: 100%;
  height: 290px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .gift__container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 200px;
  }
}
@media (min-width: 1440px) {
  .gift__container {
    flex-direction: column-reverse;
    padding-bottom: 42px;
    height: 290px;
    min-width: 245px;
  }
}
.gift__container::before {
  content: "";
  width: 78px;
  height: 80px;
  background-image: url("/img/icon_gift.svg");
  z-index: 1;
  position: absolute;
  top: 59px;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  .gift__container::before {
    top: 50%;
    transform: translateY(-50%);
    left: 77px;
  }
}
@media (min-width: 1440px) {
  .gift__container::before {
    top: 55px;
    transform: translate(-50%, 0);
    left: 50%;
  }
}
.gift__container::after {
  content: "";
  min-width: 280px;
  min-height: 290px;
  width: 100%;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("/img/cat-gift.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
@media (min-width: 768px) {
  .gift__container::after {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("/img/cat-gift-tablet.png");
    height: 200px;
    min-height: 200px;
    background-size: cover;
  }
}
@media (min-width: 1440px) {
  .gift__container::after {
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("/img/cat-gift.png");
    height: 290px;
    min-width: 245px;
    width: 245px;
  }
}
.gift__text {
  position: relative;
  display: block;
  color: #ffffff;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  margin: 0;
  z-index: 1;
  padding-top: 187px;
}
@media (min-width: 768px) {
  .gift__text {
    padding-right: 124px;
    padding-top: 0;
    text-align: left;
  }
}
@media (min-width: 1440px) {
  .gift__text {
    padding: 0;
    text-align: center;
  }
}
.cat-data {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: #444444;
  padding: 0;
  border: none;
  margin: 0;
}
@media (min-width: 768px) {
  .cat-data {
    font-size: 20px;
    line-height: 29px;
  }
}
@media (max-width: 767px) {
  .cat-data::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #d9d9d9;
    bottom: 0;
    left: -20px;
    right: -20px;
    bottom: -24px;
  }
}
.cat-data__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  row-gap: 13px;
}
@media (min-width: 768px) {
  .cat-data__list {
    row-gap: 20px;
  }
}
.cat-data__item {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 12px;
  align-items: center;
}
.item-name {
  display: block;
  flex-shrink: 0;
  cursor: pointer;
}
.choice-program {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: #444444;
  padding: 0;
  border: none;
}
@media (min-width: 768px) {
  .choice-program {
    padding: 25px;
    border: 1px solid #e7e7e7;
  }
}
@media (max-width: 767px) {
  .choice-program::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #d9d9d9;
    bottom: 0;
    left: -20px;
    right: -20px;
    bottom: -19px;
  }
}
.choice-program__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  row-gap: 25px;
}
@media (min-width: 768px) {
  .choice-program__list {
    grid-template-columns: 1fr;
  }
}
.choice-program__label {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  padding-left: 40px;
}
.choice-program__radio-button {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid #cdcdcd;
  left: 0;
  top: 0.5rem;
  transform: translateY(-50%);
}
.choice-program__input:hover + .choice-program__radio-button {
  border-color: #bababa;
}
.choice-program__input:checked + .choice-program__radio-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 13px;
  height: 13px;
  background-color: #68b738;
  border-radius: 50%;
}
.choice-program__input:disabled + .choice-program__radio-button {
  border-color: rgba(186, 186, 186, 0.3);
}
.choice-program__input:disabled ~ .choice-program__item-name {
  color: rgba(186, 186, 186, 0.3);
}
.contact {
  border: none;
  position: relative;
  padding: 0;
  margin: 0;
}
.contact__title {
  position: relative;
  width: 187px;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}
@media (min-width: 768px) {
  .contact__title {
    width: auto;
    font-size: 36px;
    line-height: 36px;
  }
}
.contact__title::after {
  content: "";
  position: absolute;
  top: 0.5em;
  left: calc(100% + 14px);
  height: 2px;
  width: 100000%;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .contact__title::before {
    content: "";
    position: absolute;
    top: 50%;
    right: calc(100% + 36px);
    height: 2px;
    width: 100000%;
    background-color: #68b738;
  }
}
.contact__list {
  list-style-type: none;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: #444444;
  padding: 0;
  display: grid;
  row-gap: 13px;
  padding-top: 35px;
}
@media (min-width: 1440px) {
  .contact__list {
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    padding: 66px 0;
  }
}
.contact__item {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 12px;
  align-items: center;
}
.contact__input-box {
  padding-right: 40px;
}
.contact__input-container {
  display: block;
  position: relative;
}
.contact__input-container::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
  margin-bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
}
.contact__input-container--email::before {
  right: 20px;
  background-image: url("/img/icon_email.svg");
  width: 18px;
  height: 13px;
}
.contact__input-container--phone::before {
  right: 13px;
  background-image: url("/img/icon_phone.svg");
  width: 20px;
  height: 20px;
}
.comment__title {
  position: relative;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-bottom: 37px;
  width: -moz-fit-content;
  width: fit-content;
}
@media (min-width: 768px) {
  .comment__title {
    font-size: 36px;
    line-height: 36px;
  }
}
@media (min-width: 1440px) {
  .comment__title {
    margin-bottom: 76px;
  }
}
.comment__title::after {
  content: "";
  position: absolute;
  top: 0.5em;
  left: calc(100% + 22px);
  height: 2px;
  width: 100000%;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .comment__title::before {
    content: "";
    position: absolute;
    top: 50%;
    right: calc(100% + 36px);
    height: 2px;
    width: 100000%;
    background-color: #68b738;
  }
}
.comment__textarea {
  font-weight: 400;
  text-transform: uppercase;
  color: #444444;
  padding: 0;
  resize: none;
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  outline: none;
  transition: border-color 0.15s ease-in-out;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 20px;
  border: 1px solid #e7e7e7;
  padding-top: 9px;
  padding-right: 13px;
  padding-left: 15px;
  padding-bottom: 0;
  box-sizing: border-box;
}
.comment__textarea:hover {
  border-color: #cdcdcd;
}
.comment__textarea:focus {
  border-color: #444444;
}
.comment__textarea:invalid:not(:focus):not(:placeholder-shown) {
  border-color: #ff8282;
}
.additionally {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: #444444;
  padding: 0;
  border: none;
  grid-column: 1/-1;
}
.additionally__title {
  position: relative;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  text-transform: none;
  color: #000000;
}
@media (min-width: 768px) {
  .additionally__title {
    font-size: 36px;
    line-height: 36px;
  }
}
.additionally__title::after {
  content: "";
  position: absolute;
  top: 0.5em;
  left: calc(100% + 22px);
  height: 2px;
  width: 100000%;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .additionally__title::before {
    content: "";
    position: absolute;
    top: 50%;
    right: calc(100% + 36px);
    height: 2px;
    width: 100000%;
    background-color: #68b738;
  }
}
.additionally__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  row-gap: 25px;
  column-gap: 25px;
  padding-top: 40px;
  padding-bottom: 38px;
}
@media (min-width: 768px) {
  .additionally__list {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    row-gap: 32px;
    column-gap: 60px;
    padding: 55px 0;
  }
}
@media (min-width: 1440px) {
  .additionally__list {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    column-gap: 80px;
    padding: 58px 0;
  }
}
.additionally__item {
  display: flex;
}
.additionally__label {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  padding-left: 40px;
}
.additionally__checkbox {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid #cdcdcd;
  left: 0;
  top: 0.5rem;
  transform: translateY(-50%);
}
.additionally__input:hover + .additionally__checkbox {
  border-color: #bababa;
}
.additionally__input:checked + .additionally__checkbox::after {
  content: "";
  position: absolute;
  background-image: url("/img/tick.svg");
  background-repeat: no-repeat;
  background-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 26px;
  height: 26px;
}
.additionally__input:disabled + .additionally__checkbox {
  border-color: rgba(186, 186, 186, 0.3);
}
.additionally__input:disabled ~ .additionally__item-name {
  color: rgba(186, 186, 186, 0.3);
}
.input-box {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 20px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  outline: none;
  transition: border-color 0.15s ease-in-out;
}
.input-box:hover {
  border-color: #cdcdcd;
}
.input-box:focus {
  border-color: #444444;
}
.input-box:invalid:not(:focus):not(:placeholder-shown) {
  border-color: #ff8282;
}
/*# sourceMappingURL=style.css.map */
