.wrapper() {
  margin: 0 auto;
  width: 280px;
}

// обнуление стандартных стилей списка
.list-style() {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

// названия секций
.titles36() {
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  margin: 0;
}

.titles24() {
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.form-font() {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  color: #444444;
  padding: 0;
}

.input-box() {
  padding: 13px 20px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
}

//hover
.button-hover(@background-color) {
  background-color: @background-color;
}

.link-hover(@color) {
  color: fade(@color, 60%);
}

//active
.button-active(@color) {
  color: fade(@color, 30%);
}

.link-active(@color) {
  color: fade(@color, 30%);
}
